@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

* {
  background-image: url("https://i.pinimg.com/736x/21/24/a7/2124a7049d720bebb75c8ab0709e7282.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  font-family: 'Girassol', cursive;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
}

li {
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  height: 300px;
  width: 250px;
  background: #FF6500;
  color: black;
  cursor: pointer;
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

li:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  border-radius: 20px;

}

p {
  background: #FFD227;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}

img {
  width: 200px;
  height: 200px;
  background: #5484AC;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
}